.Aa201812302127At_{
    width: 100%;
    min-height: 100%;
    height: auto;
    padding-top: 120px;
}
.Aa201812302215At_{
    width: 100%;
    min-height: 100%;
    height: auto;
}
.Aa201812302350At_{
    width: 100%;
    min-height: 100%;
    height: auto;
}
.Aa201812302351At_{
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
}
.Aa201812302353Ay_{
    width: 25%;
    min-height:200px;
    height: auto;
    overflow: hidden;
}
.Aa201812302354At_{
    width: 75%;
    min-height:100%;
    height: auto;
    overflow: hidden;
    margin-left: 25%;
}
.Aa20181231006At_{
    width: 100%;
    min-height: 200px;
    height: auto;
}
.Aa20181231006Ar_{
    width: 100%;
    min-height: 200px;
    height: auto;
    margin:0 auto;
    padding-bottom: 53px;
}
.Aa20181231007At_{
    width: 100%;
    min-height: 100%;
    height: auto;
    padding-top: 50px;
    overflow: auto;
    padding-bottom: 20px;
}
.Aa20181231008At_{
    width:80%;
    float: right;
    min-height: 200px;
    height: auto;
    margin-right: 5%;
    box-shadow:  0 5px 15px 0 rgba(48,56,97,0.2)
}
.Aa20181231036Ay_{
    width: 100%;
    background-color: #171a29;
    height: 300px;
    overflow: hidden;
}
.Aa20181231044At_{
    width: 100%;
    height: 200px;
    padding-top: 40px;
}
.Aa20181231045Ah_{
    width: 79%;
    height: 220px;
    overflow: hidden;
    margin: 0 auto;
}
.Aa20181231050At_{
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.Aa20181231232Ay_{
    width: 100%;
    height: 220px;
    display: flex;
}
.Aa20181231234Ar_{
    width: 21%;
    height: 220px;
    overflow: hidden;
    margin-right:60px;
}
.Aa20181231234Ar_:last-of-type{
    margin-right: 0px;
}
.Aa201812311350At_{
    width: 100%;
    min-height: 200px;
    height: auto;
    overflow: auto;
}
.Aa201812311512Ah_{
    width: 100%;
    height: 60px;
}
.same{
    position: fixed;
    top: 45px;
}
.notsame{
    position: absolute;
}
.Aa201812311542At_{
    width: 100%;
    height: 60px;
    display: flex;
    cursor: pointer;
}
.Aa201812311543At_{
    width: 100%;
    height: 60px;
}
.Aa201812311543At_{
    width: 30%;
    height: 60px;
}
.Aa201812311550Ah_{
    width: 70%;
    height: 60px;
}
.Aa201812311600Ay_{
    width: 100%;
    height: 60px;
}
.Aa201812311618Ag_{
    width: 45px;
    height: 45px;
    background-color: #ff4242;
    margin:0 auto;
    position: relative;
    top: 9px;
    border-radius: 50%;
    text-align: center;
}
.Aa201812311618Ag_ i{
    position: relative;
    top: 7px;
    font-size: 30px;
    left: 2px;
    color: white;
}
.Aa201812311624At_{
    padding-top: 20px;
    font-size: 16px;
    font-family: "Open Sans","Arial",sans-serif;
}
.Aa201812311542At_:hover{
    background-color: #ff4242;
    color: white;
}
.Aa201812311542At_:hover .Aa201812311618Ag_{
    background-color: white;
}
.Aa201812311542At_:hover .Aa201812311618Ag_ i{
    background-color: white;
    color: #ff4242;
}
.Aa201812311719Ar_{
    width: 100%;
    min-height: 600px;
    height: auto;
}
.Aa201812311721Ay_{
    padding-top: 50px;
    width: 100%;
    min-height: 400px;
    height: auto;
}
.Aa201812311726Ag_{
    width: 90%;
    min-height: 400px;
    height: auto;
    margin: 0 auto;
}
.Aa201812311728Ar_{
    width: 100%;
    min-height: 400px;
    height: auto;
}
.Aa201812311729At_{
    width: 100%;
    height: 50px;
}
.Aa201812311729At_ h1{
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
}
.Aa201812311756Ag_{
    width: 100%;
    min-height: 100px;
    height: auto;
}
.Aa20181311803Ag_{
    width: 100%;
    min-height: 100px;
    height: auto;
    overflow: auto;
    padding-bottom: 60px;
}
.Aa201812311804At_{
    width: 30%;
    transform: scale(1);
    min-height: 300px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
    box-shadow:  0 4px 8px 0 rgba(48,56,97,0.2);
    transition: 1s;
}

.Aa201812311839At_{
    width: 100%;
    min-height: 300px;
    height: auto;
}
.Aa201812311839Ar_{
    width: 90%;
    min-height: 300px;
    margin: 0 auto;
    padding-top: 20px;
    height: auto;
}
.Aa201812311840Ag_{
    width: 100%;
    min-height: 200px;
    height: auto;
}
.Aa201812311841ah_{
    width: 100%;
    height: 200px;
}
.Aa201812311853Ag_{
    width: 100%;
    min-height: 50px;
    padding-top: 20px;
    
}
.Aa201812311914aw_{
    width: 100%;
    min-height: 50px;
    height: auto;
}
.Aa201812311914aw_ span{
    height: auto;
     font-family: "Open Sans","Arial",sans-serif;
    color: rgba(0,0,0,0.8)
}

.Aa201812311914aw_ span:last-of-type{
    float: right;
    color: rgba(0,0,0,0.8)
}
.Aa201812312057At_{
    width: 100%;
    min-height: 60px;
    height: auto;
}
.Aa201812312059Ag_{
    width: 100%;
    min-height: 60px;
    height: auto;
    display: flex;
}
.Aa201812312101Ah_{
    width: 50%;
    min-height: 60px;
    height: auto;
}
.Aa201812312111At_{
    float: left;
    width: 50px;
    height: 20px;
    background-color: #1ab64f;
    text-align: center;
    padding-top: 3px;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
}
.Aa201812312111At_ i{
    font-size: 13px;
    text-align: center;
}
.Aa201812312111Ar_{
    text-align:right;
     color: rgba(0,0,0,0.8);
    font-family: "Open Sans","Arial",sans-serif;
}
.Aa201812312139Ag_{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.Aa201812312139Ag_ button{
    width: 60%;
    background-color: #ff4242;
    color: white;
    border:1px solid #ff4242;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}
.Aa201812312139Ag_ button:focus{
    outline: none;
}
.Aa201812311804At_:hover{
    box-shadow:  0 4px 8px 0 rgba(48,56,97,0.2);
   transform: scale(1.03)
}
.Aa201812312222Ar_{
    background-color: #ff4242;
    color: white;
}
.Aa201812312222Ar_ .Aa201812311618Ag_{
    background-color: #ff4242;
    background-color: white;
}
.Aa201812312222Ar_ .Aa201812311618Ag_>i{
    color: #ff4242;
}