.Aa201812291926Au_{
	width: 100%;
	min-height: 100%;
	height: auto;
	padding-top: 120px;
}
.Aa201812291930Au_{
	width: 100%;
	min-height: 100%;
	height: auto;
}
.Aa201812291934Au_{
	width: 100%;
	min-height: 500;
	height: auto;
	display: flex;
}
.Aa201812292047Ay_{
	width: 60%;
	min-height: 500;
	height: auto;
}
.Aa201812292047At_{
	width: 40%;
	min-height: 500px;
	height: auto;
	overflow: hidden;
}
.Aa201812292107At_{
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.Aa201812292119ah_{
	width: 100%;
	min-height: 329px;
	height: auto;
	background-color: #171a29;
}
.Aa201812292206Ar_{
	width: 100%;
	min-height: 300px;
	height: auto;
}
.Aa201812292228Au_{
	width: 100%;
	min-height: 200px;
	height: auto;
}
.Aa201812292233At_{
	width: 100%;
	min-height: 40px;
	height: auto;
	padding-top: 30px;
}
.Aa201812292233Ag_{
	width: 100%;
	min-height: 40px;
	height: auto;
}
.Aa201812292234Ay_{
	width: 95%;
	height: 40px;
	overflow: hidden;
	margin: 0 auto;
}
.Aa201812292234Ah_{
	width: 100%;
	height:40px;
	text-align: center;
	overflow: hidden;
}
.Aa201812292234Ah_{
	font-family: 'Lobster', cursive;
	color: #ff4242;
	font-size: 20px;
}
.Aa201812292239Ay_{
	width: 100%;
	min-height: 200px;
	height: auto;
}
.Aa201812292240At_{
	width: 60%;
	min-height: 200px;
	height: auto;
	margin: 0 auto;
}
.Aa201812292232At_{
	width: 100%;
	min-height: 80px;
	height: auto;
    margin-top: 40px;
}
.Aa201812292232At_ input{
	width: 100%;
	height: 40px;
    border:1px solid white;
    border-bottom:1px solid grey;
}
.Aa201812292232At_ input:focus{
    outline: none;
}
.Aa201812292232At_ label{
    color: grey;
    position: relative;
    font-family: "Open Sans","Arial",sans-serif;
    position: relative;
    top: 30px;
    font-size: 15px;
    transition: 1s
}