.Aa201812291926Au_{
	width: 100%;
	min-height: 100%;
	height: auto;
	padding-top: 120px;
}
.Aa201812291930Au_{
	width: 100%;
	min-height: 100%;
	height: auto;
}
.Aa201812291934Au_{
	width: 100%;
	min-height: 500;
	height: auto;
	display: flex;
}
.Aa201812292047Ay_{
	width: 60%;
	min-height: 500;
	height: auto;
}
.Aa201812292047At_{
	width: 40%;
	min-height: 500px;
	height: auto;
	overflow: hidden;
}
.Aa201812292107At_{
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.Aa201812292119ah_{
	width: 100%;
	min-height: 329px;
	height: auto;
	background-color: #171a29;
}
.Aa201812292206Ar_{
	width: 100%;
	min-height: 300px;
	height: auto;
}
.Aa201812292228Au_{
	width: 100%;
	min-height: 200px;
	height: auto;
}
.Aa201812292233At_{
	width: 100%;
	min-height: 40px;
	height: auto;
	padding-top: 30px;
}
.Aa201812292233Ag_{
	width: 100%;
	min-height: 40px;
	height: auto;
}
.Aa201812292234Ay_{
	width: 95%;
	height: 40px;
	overflow: hidden;
	margin: 0 auto;
}
.Aa201812292234Ah_{
	width: 100%;
	height:40px;
	text-align: center;
	overflow: hidden;
}
.Aa201812292234Ah_{
	font-family: 'Lobster', cursive;
	color: #ff4242;
	font-size: 20px;
}
.Aa201812292239Ay_{
	width: 100%;
	min-height: 200px;
	height: auto;
}
.Aa201812292240At_{
	width: 60%;
	min-height: 200px;
	height: auto;
	margin: 0 auto;
}
.Aa201812292232At_{
	width: 100%;
	min-height: 80px;
	height: auto;
	margin-top: 40px;
}
.Aa201812292232At_ input{
	width: 100%;
	height: 30px;
	border: 1px solid white;
	border-bottom: 1px solid grey;
}
.Aa201812292232At_ input:focus{
	outline: none;
}
.Aa201812292232At_ label{
	width: 100%;
	height: 30px;
	color: grey;
	font-family: "Open Sans","Arial",sans-serif;
	position: relative;
	top: 25px;
	transition: 1s;
	font-size: 15px;
}
.Aa201812301454At_{
	width: 100%;
	height: 40px;
	margin-top: 30px;
	text-align: center;
}
.Aa201812301454At_ button{
	width: 100%;
	padding:10px;
	border: 1px solid #1ab64f;
	background-color: #1ab64f;
	color: white;
	font-weight:600px;
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 18px;
	border-radius: 20px;
	cursor: pointer;
}
.Aa201812301616Ag_{
	width: 100%;
	padding-top: 30px;
	min-height: 300px;
	height: auto;
}
.Aa201812301621Ag_{
	width: 100%;
	min-height: 300px;
	height: auto;
}
.Aa201812301621Ag_{
	width: 100%;
	min-height: 300px;
	margin: 0 auto;
	height: auto;
}
.Aa201812301736Ag_{
	width: 100%;
	height: 200px;
	display: flex;
}
.Aa201812301739At_{
	width: 33%;
	height: 250px;
	overflow: hidden;
}
.Aa201812301740Ay_{
	width: 100%;
	min-height: 100px;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
.Aa201812301742At_{
	width: 100%;
	margin: 0 auto;
	min-height:100px;
	height: auto;
}
.Aa201812301745Ag_{
	width: 100%;
	min-height: 100px;
	height: auto;
	text-align: center;
    padding-top: 30px;
}
.Aa201812302029Ag_ img{
	margin-top: 51px;
}
.Aa201812302041Ay_{
	width: 100%;
	text-align: center;
	color: white;
	font-family: "Open Sans","Arial",sans-serif;
    margin-top: 20px;
}
.Aa201812302043Ay_ img{
    margin-top: 15px;
}
.Aa201812302050Ay_{
    width: 100%;
    height: 60px;
}
.Aa201812302111Ag_{
    width: 60%;
    height: 60px;
    margin: 0 auto;
    padding-top: 30px;
}
.Aa2018123020182100Ag_{
    width: 100%;
    height: 60px;
    display: flex;
}
.Aa201812302109At_{
    border-bottom: 1px solid white;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    height: 1px;
    margin: 21px 0 0 0;
    position: relative;
    top: -8px;
}
.Aa201812302102Ag_{
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    text-align: center;
    margin: 0 30px;
    font-family: 'Charm', cursive;
    color: white;
    font-size: 24px;
}