.Aa201812242310At_{
	width: 100%;
	min-height: 100%;
	height: auto;
	padding-top: 120px;
}
.Aa201812242311An_{
	width: 100%;
	min-height: 100%;
	height: auto;
}
.Aa201812242312Ay_{
	width: 100%;
	min-height: 100%;;
	height: auto;
}
.Aa201812261625Ay_{
	width: 100%;
	min-height: 100%;
	height: auto;
}
.Aa201812261653Au_{
	width: 50%;
	min-height: 600px;
	height: auto;
	margin: 0 auto;
	margin-top: 40px;
}
.Aa201812261709Ay_{
	width: 100%;
	min-height: 600px;
	height: auto;
}
.Aa201812261714Au_{
	width: 100%;
	margin: 0 auto;
	min-height: 600px;
	height: auto;
	box-shadow: 1px 1px 1px 1px grey;
}
.Aa201812261716At_{
	width: 100%;
	height: 50px;
	background-color: #ff4242;
	text-align: center;
}
.Aa201812261716At_ h1{
	position: relative;
	top: 15px;
	font-family: "Open Sans","Arial",sans-serif;
	color: white;
}
.Aa201812261750Ah_{
	width: 100%;
	min-height: 300px;
	margin: 0 auto;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.Aa201812261756Ay_{
	width: 100%;
	min-height: 300px;
	height: auto;
	margin: 0 auto;
}
.A201812261822At_{
	padding-left: 20px;
	color: #464444;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 20px;
}
.A201812261822At_ span{
	font-family: "Open Sans","Arial",sans-serif;
	font-weight: bold;
}
.Aa201812261831Ay_{
	width: 100%;
	min-height: 264px;
	height: auto;
}
.Aa201812261837Ay_{
	width: 90%;
	min-height: 200px;
	height: auto;
	padding-top: 20px;
	margin: 0 auto;
}
.Aa201812261840At_{
	width: 100%;
	min-height: 50px;
}
.Aa201812261840At_ label{
	font-family: "Open Sans","Arial",sans-serif;
	color: grey;
	font-size: 15px;
	background-color: transparent;
	position: relative;
	top: 38px;
	left: 10px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}
.Aa201812261840At_ input{
	width: 60%;
	height: 30px;
	padding: 20px;
	border: 1px solid  rgba(0,0,0,0.38);
	border-radius: 5px;
	margin-top: 10px;
	
}
.Aa201812261840At_ input:focus{
	outline:none;
}
.Aa201812262218Ay_{
	font-size: 15px;
	font-family: "Open Sans","Arial",sans-serif;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 10px;
    color: rgba(0,0,0,0.58);
	padding-left: 20px;
}
.Aa2018122620182242Ar_{
	width: 100%;
	min-height: 110px;
	height: auto;
}
.Aa201812262259Ar_{
	width: 94%;
	margin: 0 auto;
	min-height: 110px;
	height: auto;
}
.Aa201812262311Ae_{
	width: 100%;
	min-height: 100px;
	height: auto;
	padding-top: 20px;
}
.Aa201812262312Fg_{
	width: 100%;
	height: 40px;
	display: flex;
}
.Aa201812262314Ar_{
	width: 50%;
	height: 40px;
}
.Aa201812262311Ay_{
	color: #ff4242 !important;
}
.Aa201812262311Ay_ ~ label{
	margin-left: 20px;
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
}
.Aa201812262334Au_{
	width: 100%;
	height: 40px;
	text-align: right;
}
.Aa201812262334Au_{
	color: rgba(0,0,0,0.5);
}
.Aa201812262340Au_{
	width: 100%;
	min-height: 30px;
	height: auto;
}
.Aa201812262352Ay_{
	width: 100%;
	display: flex;
	min-height: 30px;
}
.Aa20181227000Ay_{
	width: 100%;
}
.Aa20181227000Ay_ i{
	color: #ff4242;
}
.Aa20181227000Ay_ span{
	font-family: "Open Sans","Arial",sans-serif;
	margin-left: 20px;
	color: black;
}
.Aa20181227000Ay_ button{
	float: right;
	margin-right: 30px;
	background-color: white;
	border: 1px solid #ff4242;
	color: #ff4242;
	padding: 5px;
	border-radius: 20px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}
.Aa20181227000Ay_ button:focus{
	outline: none;
	background-color: #ff4242;
	color: white;
}
.Aa20181227000Ay_ button:hover{
	background-color: #ff4242;
	color: white;
}
.Aa20181227034At_{
	width: 100%;
	min-height: 50px;
	height: auto;
}
.Aa20181227035Au_{
	width: 100%;
	background-color: white;
	min-height: 50px;
	text-align: center;
	padding-top: 50px;
}
.Aa20181227035Au_ button{
	width: 40%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	background-color: #1ab64f;
	border:1px solid #1ab64f;
	color: white;
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 17px;
	border-radius: 20px;
	cursor: pointer;
}
.Aa20181227035Au_ button:focus{
	outline: none;
	background-color: #ff4242 !important;
	border-color: #ff4242 !important;
	color: white !important;
}
.Aa20181227035Au_ button:first-of-type{
	background-color: white ;
	color: #ff4242;
	border-color: #ff4242;
}
.Aa201812270055Au_{
	width: 100%;
	min-height: 100px;
	height: auto;
}
.Aa20181227057At_{
	width: 95%;
	min-height: 100px;
	height: auto;
	margin: 0 auto;
	padding-top: 20px;
}
.Aa20181227058Au_{
	width: 100%;
	min-height: 100px;
	height: auto;
}
.Aa20181227058Au_{
    width: 100%;
	min-height: 100px;
	height: auto;
	display: flex;
}
.Aa20181227101Ae_{
	width: 70%;
	min-height: 100px;
	height: auto;
}
.Aa20181227101Aa_{
	width: 30%;
	min-height: 100px;
	height: auto;
}
.Aa20181227102Au_{
	width: 100%;
	min-height: 100px;
	height: auto;
}
.Aa20181227104Au_{
	width: 100%;
	min-height: 100px;
	height: auto;
	display: flex;
}
.Aa20181227105Ay_{
	width: 50%;
	min-height: 100px;
	height: auto;
}
.Aa20181227107Ay_{
	width: 100%;
	height: 40px;
	color: rgba(0,0,0,0.6);
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
}
.Aa20181227107Ay_:last-of-type{
	border-top: 1px solid #eaeaea;
	padding-top: 20px;
}
.Aa20181227107At_{
	width: 100%;
	text-align: right;
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
	height: 40px;
	color: #464444;
}
.Aa20181227107At_:last-of-type{
	border-top: 1px solid #eaeaea;
	padding-top: 20px;
}