.Aa201812291856Au_{
	width: 100%;
	min-height: 300px;
	height: auto;
}
.Aa201812291858Ar_{
	width: 100%;
	min-height: 300px;
	height: auto;
	padding-top: 50px;
}
.Aa201812291904Au_{
	width: 100%;
	min-height: 300px;
	height: auto;
	background-color: rgba(255,255,255,0.8)
}